.pandora-downloader {
    position: absolute;
    right: 270px;
    top: 5px;
    z-index: 20000;
}

.pandora-downloader-infobox {
    display: none;
    color: black;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: white;
    border-left: 2px black solid;
    border-top: 2px black solid;
    padding: 10px;
}