.pd-download-single {
    position: absolute;
    right: 270px;
    top: 4px;
    z-index: 20000;
}

.pd-download-continuous {
    position: absolute;
    left: 130px;
    top: 4px;
    z-index: 20000;
}

.pd-infobox {
    display: none;
    color: black;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: white;
    border-left: 2px black solid;
    border-top: 2px black solid;
    padding: 10px;
}